/* переменные */
/* переменные */

:root {
  --primary-text-color: #212121;
  --backgroung-color-benefits: #e5e5e5;
  --secondary-text-color: #757575;
  --focus-button-color: #2196f3;
  --button-text-color: #ffffff;
  --comand-color: #f5f4fa;
}

.container {
  width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  /* outline: 2px solid red; */

}

body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
/* ОФОРМЛЕНИЕ */

/* background */
.benefits,
.main {
  background-color: var(--backgroung-color-aside);
}
.comand {
  background-color: var(--comand-color);
}

.footer {
  background-color: #2f303a;
}
li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--primary-text-color);
}

h1, h2, h3, h4, h5, h6, p, ul, li {
  margin-top: 0;
  margin-bottom: 0;
}
/* скрытие заголовка Преимущества Benefits компании */
.hidden-benefits {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* шапка */


.nav-list {
  display: flex;
  align-items: center;


}
.list-link-index .list-link {
  padding-top: 32px;
  padding-bottom: 32px;
}
/* лого в шапке */
.logo {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;


  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
}
/* logo */
.logo-link {
  color: var(--focus-button-color);
  font-size: 26px;
}
/* studio  */
.logo-link-header {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;

  /* цвет шрифта не понятно какой пока !!!!!!!!!!!!!!!!!! */
}

/* в шапке кнопки навигации*/
.list {
  display: flex;
  justify-content: center;
}
.list .list-item + .list-item {
  margin-left: 8px;
}

.list .nav-item + .nav-item {
  margin-left: 50px;

}

/* address header */

.header-container {
 
}

.address {
  display: flex;
  margin-left: auto;

}
.address .address-item + .address-item {
  margin-left: 50px;
}

.list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  font-style: normal;
}

.list-link-index {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  font-style: normal;
  color: var(--focus-button-color);
}

.list-link-portfolio {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  font-style: normal;
  color: var(--focus-button-color);
}

.list-link:hover,
.list-link:focus {
  color: var(--focus-button-color);
}

/* в шапке адресс */

.address-link:hover,
.address-link:focus {
  color: var(--focus-button-color);
}
.address-link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  /* не понятно!!!!! */
}

/* Эффективное решение для вашего бизнеса */
/* уникальная часть Hero */

.hero {
  position: inherit;
  left: 0px;
  top: 80px;
  background-color: #2f303a;
  align-items: center;
  text-align: center;
}

.hero-text {
padding-top: 200px;
margin-left: auto;
margin-right: auto;
color: var(--button-text-color);
}

.hero-button {
margin-top: 30px;
margin-bottom: 200px;


background-color: var(--focus-button-color);
  color: var(--button-text-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  cursor: pointer;
  font-style: normal;

  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}
.hero-button:hover,
.hero-button:focus {
  color: var(--button-text-color);
  background-color: #188ce8;
}
.hero-text {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--button-text-color);
}

/* преимущества Benefits компании */

.benefits-list {
  display: flex;
  margin-top: 94px;

}

.benefits-title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.benefits-text {
  padding-top: 10px;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-text-color);
}

.benefits-list .benefits-item + .benefits-item {
  margin-left: 30px;
}

/* Чем мы занимаемся */

.main-container {
  margin-top: 94px;
}

.main-content-caption {


  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
.content-pic {
  display: flex;

}

.content-pic-item {
  display: flex;
  margin-left: 30px;

}
.content-pic-item:first-child {
  margin-left: 0;
}

/* .content-pic-item {
  margin-right: 30px;
}
.content-pic-item:last-child {
  margin-right: 0;
} */


.content-pic-item .main-content-pic + .main-content-pic {
  margin-left: 30px;
}

.main-content-pic {
  width: 370px;
  height: 294px;
}

/* Наша команда */

.comand-container {
  margin-top: 94px;
}


.comand {
  background-color: var(--comand-color);
}
.main-content-caption {
  padding-top: 94px;



  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.comand-list {
  display: flex;
  padding-top: 50px;
  padding-bottom: 94px;
}

.comand-item {


}
.comand-list .comand-item + .comand-item {
  margin-left: 30px;
}

.main-content-title, .main-content-text {
  text-align: center;
}

.main-content-avatar {
  width: 270px;
  height: 260px;
}

.main-content-title {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.main-content-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--secondary-text-color);
}

/* подвал */


.footer-container {
  /* margin-top: 94px; */

}

/* лого в фуктере */


.footer-logo-link {
display: flex;
padding-top: 60px;



  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
}

.logo-link-footer {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.logo-link-footer {
  color: var(--button-text-color);
}
.footer-address {
  padding-top: 20px;
  padding-bottom: 60px;
  
  position: bottom;
  width: 231px;
}

.footer-address-link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--button-text-color);
}
.footer-address-mail,
.footer-address-tel {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}
.footer-address-mail:hover,
.footer-address-tel:hover,
.footer-address-mail:focus,
.footer-address-tel:focus {
  color: var(--focus-button-color);
}

/* Вторая часть ПОРТФОЛИО */

/* скрытый заголовок */

.main-content-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* кнопки фильтры */

.button-active {
  background: var(--focus-button-color);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  color: var(--button-text-color);
}
.button {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  cursor: pointer;
  background-color: var(--comand-color);

}

.button:hover,
.button:focus {
  background-color: var(--focus-button-color);
  color: var(--button-text-color);
}

/* галерея - примеры работ */
.gallery {
  display: flex;
  flex-wrap: wrap;
}

.gallery-list {
  margin-top: 34px;
  width: calc((100%-60px)/3);


  /* outline: 2px solid green; */
}

.gallery-list:nth-child(3n) { 
  margin-right: 0;
}
/* .gallery {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;  
}

.gallery-list {
  margin: 15px;
  width: 370px;
} */

.gallery-image {
  width: 370px;
  height: 294px;
}

.gallery-caption {
  padding-top: 20px;
  padding-left: 24px;

  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.gallery-text {
padding-top: 4px;
padding-left: 24px;


  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  color: var(--secondary-text-color);
}

